body {
  background-color: #121417;
}

.dashboard {
  padding: 16px;
  background-color: #121417;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 70px;
  margin-top: 70px;
}
.gridItem {
  grid-template-columns: 2fr 2fr;
}

@media screen and (min-width: 576px) {
  .dashboard {
    grid-template-columns: 2fr 1fr;
  }
  .gridItem {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.icons {
  color: #acacbb !important;
}

.detailView {
  display: flex;
  padding: 15px;
}

.detailView .MuiSvgIcon-root {
  border-radius: 25px;
  padding: 5px;
  background-color: #47484d;
  margin-right: 20px;
  color: #8f8f92;
}


.detailView .MuiTypography-root {
  align-content: center;
}

.dashboard .MuiTableCell-root {
  color: #ffffff;
  border-bottom: 1px solid #282830;
}

.dashboard .MuiTableRow-root {
  background-color: #202028;
}

.dashboard .MuiTypography-h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.dashboard .MuiPaper-root {
  background-color: #202028;
  box-shadow: none;
}

.dashboard .MuiTableContainer-root {
  margin-top: 20px;
}